.CardContainer{
    background-color: #313131;
    width: 350px;

}
.profileImage{
    width: 100%;
    height: 300px;
}
.authorName,.mobile,.posts,.likes{
    color: white;
}

.posts,.likes{
    text-transform: uppercase;
}

.authorCardContainer{
    display: flex;
    justify-content: center;
}