.Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.CardsContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 45px;
  gap: 2%;
}

.ShowMore {
  border-radius: 4px;
  opacity: 1;
  background-color:#808080;
  width: 20%;
  height: 40px;
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  font-family: "Inter-Regular_Medium";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0px;
  text-align: center;
  line-height: 17px;
  cursor: pointer;
  border-color: #808080;
  margin-top: 30px;
  margin-bottom: 20px;
 }
