.AuthorCard {
  width: 270px;
  height: 400px;
  background-color: white;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Inter-Regular_Medium";
  margin-bottom: 25px;
}

.AuthorCard:hover {
  transform: scale(1.05);
}

.ProfileButton {
  border-radius: 4px;
  opacity: 1;
  background-color: rgba(110, 112, 255, 1);
  width: 60%;
  height: 40px;
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  font-family: "Inter-Regular_Medium";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0px;
  text-align: center;
  line-height: 17px;
  cursor: pointer;
  border-color: rgb(78, 78, 160);
}
